/*WebDev nr1 style.css    */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body {
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Titanium Web', sans-serif;
    height: 100%;
    padding: 10px;
    text-align: center;
    width: 100%;
}

header img {
    box-shadow: inset 0 -10px 60px -45px rgba(0, 0, 0, 0.8);
    margin: 50px auto -3px auto;
    opacity: 0.4;
    
}

.container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

.form-header {
    color: #fff;
    font-size: 32px;
    font-weight: 100;
    text-shadow: 1px 2px 2px #291818;
    text-align: center;
    margin-top: 15px;
    padding: 20px;
}

form {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: block;
    height: 100%;
    padding: 20px;
}

fieldset {
    background-color: #fff;
    border-radius: 5px;
    color: #999999;
    display: block;
    height: 100%;
    overflow: auto;
    padding: 15px;
}

.form-input {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    box-shadow: inset 0 -10px 60px -45px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.form-input > img {
    border-right: 1px solid #c6c6c6;
    float: left;
    margin-top: 6px;
    max-width: 70px;
    padding: 2px 20px;
    position: relative;
    width: 19%;
}

.form-input > input,
.form-input > select {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    color: #999999;
    font-size: 16px;
    height: 40px;
    padding-left: 20px;
    width: 81%;
}
input:focus,
select:focus,
textarea:focus {
    border: 3px solid #a0e047;
    box-shadow: 0 0 10px #b1e54d;
    outline: none;
}
.form-input > select {
    background: url(img/arrow.png) no-repeat 97% center; /* default, Android, Sf < 6 */
    background-position: -webkit-calc(100% - 10px) center; /* Sf 6 */
    background-position: right 10px center; /* Cr 25+, FF 13+, IE 9+, Op 10.5+ */
    /* remove default arrow*/
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


/* CHECKBOX */
.field-wrap {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}
.field-wrap label {
    cursor: pointer;
    font-size: 16px;
    height: auto;
    line-height: 1.5;
    margin-top: 5px;
    user-select: none;
    -webkit-user-select: none;   
}
.field-wrap label span {
    border: 1px solid #999999;
    border-radius: 4px;
    display: inline-block;
    height: 20px;
    margin-bottom: -4px;
    margin-right: 10px;
    max-width: 20%;
    position: relative;
    width: 20px;
}
.field-wrap input:checked ~ label > span:before {
    content: '';
    background: #d2ff52;
    background: -moz-linear-gradient(top, #d2ff52 0%, #a3d740 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #d2ff52), color-stop(100%, #a3d740));
    background: -webkit-linear-gradient(top, #d2ff52 0%, #a3d740 100%);
    background: -o-linear-gradient(top, #d2ff52 0%, #a3d740 100%);
    background: -ms-linear-gradient(top, #d2ff52 0%, #a3d740 100%);
    background: linear-gradient(to bottom, #d2ff52 0%, #a3d740 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#a3d740', GradientType=0 );
    border-radius: 3px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 12px;
}
/* BUTTONS */
.btn {
    background: #d2ff52;
    background: -moz-linear-gradient(top, #d2ff52 0%, #a3d740 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #d2ff52), color-stop(100%, #a3d740));
    background: -webkit-linear-gradient(top, #d2ff52 0%, #a3d740 100%);
    background: -o-linear-gradient(top, #d2ff52 0%, #a3d740 100%);
    background: -ms-linear-gradient(top, #d2ff52 0%, #a3d740 100%);
    background: linear-gradient(to bottom, #d2ff52 0%, #a3d740 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#a3d740', GradientType=0 );
    border-radius: 3px;
    border: 1px solid #338400;
    box-shadow: 1px 1px #fff, inset 1px 1px 1px rgba(255, 255, 255, .41);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    height: 50px;
    width: 100%;
}
.btn-group {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.btn-red {
    border: 1px solid #a2202a;
    background: #f03848;
    background: -moz-linear-gradient(top, #f03848 0%, #f65e6f 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f03848), color-stop(100%, #f65e6f));
    background: -webkit-linear-gradient(top, #f03848 0%, #f65e6f 100%);
    background: -o-linear-gradient(top, #f03848 0%, #f65e6f 100%);
    background: -ms-linear-gradient(top, #f03848 0%, #f65e6f 100%);
    background: linear-gradient(to bottom, #f03848 0%, #f65e6f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f03848', endColorstr='#f65e6f', GradientType=0 );
}
.btn-disabled {
    border: 1px solid #96cc75;
    background: #96cc75;
    background: -moz-linear-gradient(top, #d2ff52 0%, #a3d740 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #d2ff52), color-stop(100%, #a3d740));
    background: -webkit-linear-gradient(top, #d2ff52 0%, #a3d740 100%);
    background: -o-linear-gradient(top, #d2ff52 0%, #a3d740 100%);
    background: -ms-linear-gradient(top, #d2ff52 0%, #a3d740 100%);
    background: linear-gradient(to bottom, #d2ff52 0%, #a3d740 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#a3d740', GradientType=0 );
    cursor: not-allowed;
    opacity: 0.7;
}
.btn-group button,
.btn-group div {
    width: 43%;
}
textarea {
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px -20px 43px -40px rgba(0,0,0,0.75);
    color: #999999;
    font-family: 'Titanium Web', sans-serif;
    font-size: 16px;
    height: 100%;
    overflow: hidden;
    padding: 25px;
    resize: none;
    width: 100%;
}
.logo {
    margin-top: 50px;
    margin-bottom: 80px;
    opacity: 0.2;
}
.logo > img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 80%;
}
/* GRID*/
.col-offset-1 {
    margin-left: 12%;
}
.col {
    width: 44%;
    float: left;
}
/*MEDIA QUERIES */
@media (max-width: 940px) {
    .col-offset-1 { 
        margin-left: 5%;
    }
    .col {
        width:  47.5%;
    }
    section {
        max-width: 420px;
        margin: 0 auto;
    }
}
@media (max-width: 860px){
    .col-offset-1 {
        margin-left: 0;
    }
    .col {
        width: 100%;
    }
}
@media (max-width: 460px) {
    body {
       padding: 0; 
    }
    header >img {
        width: 100%;
    }
    section {
        max-width: 90%; 
    }
    .form-input > img {
        width: 65px;
    }
    .form-input > input,
    .form-input > select {
        width: calc(100% - 65px);
        font-size: 14px;
        padding-left: 10px;
    }
    .btn-group button,
    .btn-group div {
        width: 100%;
        margin-bottom: 5px;
    }
}
